/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

h2,
h5,
h6 {
    
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 690;
    letter-spacing: 1px;
}

.logoutmessage{  
        width: 100%;
        height: 25px;
        float: right;
}
.logout
        {
            background-color: #82CFFD;
            color: white;
            float: right;
            height: 25px;
        }
a:{
    color: white;
}

.home-section {
    padding-top: 40px;
    padding-bottom: 40px;
	display:block;
    position:relative;
    z-index:120;
}

/* ===========================
--- Contact form
============================ */

.boxed-grey {
	background: #f9f9f9;
	padding: 20px;
}

form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	border-radius: 0;
	border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}

.details {
	text-align: left;
}

/* ===========================
--- Submit button============================ */

.btn {
	border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

a,.tp-caption a.btn:hover {
	color: #a3a3a3;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #67b0d1;
}

.btn-skin {
  color: #fff;
  background-color: #67b0d1;
  border-color: #67b0d1;
}
