/* Grid CSS*/

.highlight-columns .column                      ,
.highlight-columns .columns                     { background:red; }
.highlight-columns .container                   { background:#ddd; }
.highlight-columns .padded                      { background:#00ff00; }
  .highlight-columns .padded .container         { background:transparent !important; margin-bottom:10px; }
  

.container:after                                { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* #Base 
================================================== */

    .bottom-container                            { float:left; width:100%; }

    .container                                  { position:relative; width:1194px; margin:0 auto; padding:0px; z-index:2; }
    .container                                  { margin-bottom:0px; }
    .container.tall                             { margin-bottom:20px; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin:0 0 0 30px; position:relative; padding:0; }

   
    .column.alpha, .columns.alpha               { margin-left: 0; clear:left; }
    .column.omega, .columns.omega               { margin-right: 0; clear:right; }

    
    .column.left, .columns.fleft                { float:left; }
    .column.fright, .columns.fright, .columns.last { float:right; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 72px;  }
    .container .two.columns                     { width: 174px; }
    .container .three.columns                   { width: 276px; }
    .container .one-third.column                ,
    .container .four.columns                    { width: 378px; }
    .container .five.columns                    { width: 480px; }
    .container .six.columns                     { width: 582px; }
    .container .seven.columns                   { width: 684px; }
    .container .two-thirds.column               ,
    .container .eight.columns                   { width: 786px; }
    .container .nine.columns                    { width: 888px; }
    .container .ten.columns                     { width: 990px; }
    .container .eleven.columns                  { width: 1092px; }
    .container .twelve.columns                  { width: 1194px; }
    
/* Grid CSS*/
    
/* Layout.CSS*/
    
  body                                              { background:#fff; color:#7d848f; font-family:"proxima-nova", Arial, sans-serif; margin:0; padding:0; overflow-x:hidden; }
  
.footer                                           { background:#94abb9; color:#72788a; padding:40px 0 30px 0; }
.footer.abs                                       { position:relative; bottom:0px; left:0px; }
  .footer p                                       { font-size:14px; }
  .footer h4                                      { text-transform:uppercase; margin:0 0 15px 0; color:#fff; font-size:14px; }
  .footer ul                                      { list-style:none; margin:0 0 30px 0; padding:0; line-height:2em; }
    .footer ul li                                 { margin:0; padding:0; }
      .footer ul li a                             { margin:0; padding:0; color:#fff; font-size:14px; text-decoration:none; }
      .footer ul li a:hover                       { color:#ccc; text-decoration:none; }
a.iconned                                       { overflow:hidden; height:40px; width:40px; background-position:left top; background-repeat:no-repeat; margin:5px 5px 0; display:inline-block; text-indent:-100000px; text-decoration:none;   /* transitions */ -o-transition:0s; -ms-transition:0s; -moz-transition:0s; -webkit-transition:0s; transition:0s; /* // transitions */ }
  a.iconned:hover                                 { background-position:left bottom; text-decoration:none; }
  a.iconned.facebook                              { background-image:url(../icon-facebook.png); }
  a.iconned.twitter                               { background-image:url(../icon-twitter.png); }

    
     /* Layout.CSS*/
    
    
