body{ 
    
    background:#fff; 
    color:#7d848f; 
    font-family:"proxima-nova", Arial, sans-serif;
    
    }

@import url(http://fonts.googleapis.com/css?family=Mallanna);

.container-fluid{
    
    width; 100%;
    background: #94abb9;
    color: #fff;
    
}
.flex-box {
  display: flex;
  background-color: #94abb9;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
  margin-top: 10px;
  border-top: 1px solid #d8d8d8;
}

a.icons{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 3.14em;
    color: white;
  }

    .fa-envelope {
      padding: 1.3em 1.3em 1.3em 1.3em;
      font-size: 1.65em;
    }
    .fa-twitter {
      padding: 1.3em 1.3em 1.3em 1.3em;
      font-size: 1.65em;
    }
    .fa-facebook {
      padding: 1.3em 1.4em 1.3em 1.4em;
      font-size: 1.65em;
    }
  
  a.icons:hover {
    color: #2a83b2 !important;
    border-color: #05B9DF !important;
    -webkit-transition:.5s ease;
    -moz-transition:.5s ease;
    -ms-transition:.5s ease;
    -o-transition:.5s ease;
    transition:.5s ease;
  }
    i.fa fa-envelope {
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -o-transform:scale(1.2);
      -ms-transform:scale(1.2);
      transform:scale(1.2);
      color:#fff;
      -webkit-transition:.3s ease;
      -moz-transition:.3s ease;
      -ms-transition:.3s ease;
      -o-transition:.3s ease;
      transition:.3s ease;
    }
  
    i.fa fa-twitter {
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -o-transform:scale(1.2);
      -ms-transform:scale(1.2);
      transform:scale(1.2);
      color:#fff;
      -webkit-transition:.3s ease;
      -moz-transition:.3s ease;
      -ms-transition:.3s ease;
      -o-transition:.3s ease;
      transition:.3s ease;
    }
      i.fa fa-facebook {
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -o-transform:scale(1.2);
      -ms-transform:scale(1.2);
      transform:scale(1.2);
      color:#fff;
      -webkit-transition:.3s ease;
      -moz-transition:.3s ease;
      -ms-transition:.3s ease;
      -o-transition:.3s ease;
      transition:.3s ease;
    }
  
}

    
